<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.lunifera.runtime.target.kepler" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.0.v20120521-2346-7H7OFJJBpeIn_ddTiXpom8fJ0XZ9"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.xtext.headless.feature.group" version="2.4.0.201302082045"/>
<unit id="org.lunifera.dependencies.feature.assert-utilities.feature.group" version="1.1.0"/>
<unit id="org.lunifera.dependencies.feature.jbpm.feature.group" version="5.4.0.Final"/>
<unit id="org.lunifera.dependencies.feature.weld.feature.group" version="1.2.0.201302082045"/>
<unit id="org.lunifera.dependencies.feature.equinox.feature.group" version="3.9.0.201302082045"/>
<repository location="http://lunifera.github.com/p2/kepler/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130110-153724-7M7iA78g-cCc_P42iP0LlSz-RslA"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository"/>
</location>
</locations>
</target>
